<h3>Chat Stream</h3>

<div class="messages">
  {{#each model as |message|}}

    {{message-item
      model=message
      isEditable=false
    }}

  {{/each}}

  {{message-item
    model=(hash user=currentUser)
    isEditable=true
  }}
</div>
